# Step 2: Data Cleaning & Preparation

In [2]:
# Import necessary libraries
import pandas as pd

## A. Grocery Market Data

In [3]:
# Create dataframe from USDA data
usda_df = pd.read_csv('MNRetailDatasetCSV.CSV')

/var/folders/zf/cb3_1h9969d8z3n17n7d956r0000gn/T/ipykernel_12666/636022322.py:2: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  usda_df = pd.read_csv('MNRetailDatasetCSV.CSV')

In [4]:
# Take a look at what needs done
usda_df.head()

,LEVEL_OF_TRADE,FREQUENCY,ISSUING_OFFICE,REPORT_DATE,PROGRAM,LEVEL_1,LEVEL_2,LEVEL_3,LEVEL_4,LEVEL_5,...,STORES_WITH_ADS,STORE_OUTLETS,FEATURE_RATE,SPECIAL_RATE,ACTIVITY_INDEX,LOCALLY_GROWN_PERCENTAGE,WEIGHTED_AVERAGE_PRICE,PRICE_LOW,PRICE_HIGH,PRODUCT_QUALITY
0,RETAIL,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,...,NaN,5500.0,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
1,RETAIL,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,...,NaN,5500.0,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RETAIL,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,...,NaN,29200.0,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
3,RETAIL,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,...,NaN,29200.0,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RETAIL,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,SHELL,ALL SHELL,NaN,...,NaN,100.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Looks like columns need standardized to snake_case
usda_df.columns = usda_df.columns.str.lower()

usda_df.head()

,level_of_trade,frequency,issuing_office,report_date,program,level_1,level_2,level_3,level_4,level_5,...,stores_with_ads,store_outlets,feature_rate,special_rate,activity_index,locally_grown_percentage,weighted_average_price,price_low,price_high,product_quality
0,RETAIL,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,...,NaN,5500.0,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
1,RETAIL,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,...,NaN,5500.0,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RETAIL,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,...,NaN,29200.0,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
3,RETAIL,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,...,NaN,29200.0,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RETAIL,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,SHELL,ALL SHELL,NaN,...,NaN,100.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# What's going on in the level_of_trade column?
usda_df['level_of_trade'].unique()

# If the only value in the column is 'RETAIL', then it seens like it can be dropped
usda_df.drop('level_of_trade', axis=1, inplace=True)

usda_df.head()

,frequency,issuing_office,report_date,program,level_1,level_2,level_3,level_4,level_5,organic,...,stores_with_ads,store_outlets,feature_rate,special_rate,activity_index,locally_grown_percentage,weighted_average_price,price_low,price_high,product_quality
0,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,NO,...,NaN,5500.0,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
1,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,NO,...,NaN,5500.0,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,NO,...,NaN,29200.0,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
3,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,NO,...,NaN,29200.0,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,SHELL,ALL SHELL,NaN,NO,...,NaN,100.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# What's going on in the frequency column?
usda_df['frequency'].unique()

# Only 'WEEKLY'.  Can be dropped.
usda_df.drop('frequency', axis=1, inplace=True)

usda_df.head()

,issuing_office,report_date,program,level_1,level_2,level_3,level_4,level_5,organic,specialty,...,stores_with_ads,store_outlets,feature_rate,special_rate,activity_index,locally_grown_percentage,weighted_average_price,price_low,price_high,product_quality
0,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,NO,NO,...,NaN,5500.0,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
1,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,NO,NO,...,NaN,5500.0,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,NO,NO,...,NaN,29200.0,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
3,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,NO,NO,...,NaN,29200.0,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,SHELL,ALL SHELL,NaN,NO,NO,...,NaN,100.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# What's going on in issueing_office? 
usda_df['issuing_office'].unique()

# Huh... that's a surprisingly small number of different offices listed.  Still useful to keep, though.

array(['DES MOINES, IA', 'ST JOSEPH, MO', 'IDAHO FALLS, CA'], dtype=object)

In [ ]:
# What's going on in report_date?
usda_df['report_date'].unique()

# Gez... how many unique dates are in this column?
usda_df['report_date'].nunique()

# 252.  What's the earliest date and the latest date?
usda_df['report_date'] = pd.to_datetime(usda_df['report_date'])
earleist_date = usda_df['report_date'].min()
latest_date = usda_df['report_date'].max()

print(earleist_date)
print(latest_date)

# Looks like we have 2020-01-03 to 2024-08-30 in this dataset.

/var/folders/zf/cb3_1h9969d8z3n17n7d956r0000gn/T/ipykernel_12666/3073408268.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  usda_df['report_date'] = pd.to_datetime(usda_df['report_date'])

2020-01-03 00:00:00
2024-08-30 00:00:00

In [ ]:
# What's going on in program?
usda_df['program'].unique()

# Just 3 values, eh... I was expecting more.  I guess we'll see what's in level_1, etc.
# Do we need this column???

array(['POULTRY', 'LIVESTOCK', 'FRUITVEG'], dtype=object)

In [22]:
# What's going on in level_1?
usda_df['level_1'].nunique()

# 82 unique values.  What kinds of values do we have?
usda_df['level_1'].unique()

array(['EGGS', 'TURKEY', 'CHICKEN', 'PORK', 'LAMB/VEAL', 'BEEF',
       'ROSE, HYBRID TEA', 'POTATOES', 'POTTED PLANTS', 'PLUMS',
       'PINEAPPLES', 'PEPPERS, OTHER', 'PEARS', 'PEPPERS, BELL TYPE',
       'PEACHES', nan, 'ORANGES', 'ONIONS, DRY', 'LIMES', 'LEMONS',
       'CUCUMBERS', 'CELERY', 'CABBAGE', 'BEANS', 'BANANAS', 'ASPARAGUS',
       'ARTICHOKES', 'APPLES', 'ONIONS GREEN', 'NECTARINES', 'MUSHROOMS',
       'LETTUCE, ICEBERG', 'KIWIFRUIT', 'HONEYDEWS', 'GRAPES', 'GREENS',
       'GLADIOLA', 'FRUIT, OTHER', 'CORN-SWEET', 'CLEMENTINES',
       'CHERRIES', 'CAULIFLOWER', 'CARROTS', 'CANTALOUPS', 'BROCCOLI',
       'AVOCADOS', 'TOMATOES', 'SQUASH', 'RADISHES',
       'TOMATOES, PLUM TYPE', 'TOMATOES, CHERRY', 'TOMATOES, GRAPE TYPE',
       'MISC BERRIES', 'GARLIC', 'TANGELOS', 'SWEET POTATOES',
       'STRAWBERRIES', 'PRUNES', 'MANGOES', 'LETTUCE, ROMAINE',
       'LETTUCE, OTHER', 'GRAPEFRUIT', 'EGGPLANT', 'CILANTRO',
       'CHINESE CABBAGE', 'BRUSSELS SPROUTS', 'BLUEBERRIES', 'BOK CHOY',
       'WATERMELONS', 'TOMATILLOS', 'TULIPS', 'TANGERINES', 'SPINACH',
       'SALAD', 'RASPBERRIES', 'PUMPKINS', 'APRICOTS', 'MISC CITRUS',
       'POMEGRANATES', 'DAFFODIL', 'PERSIMMONS', 'MISC. CHRISTMAS ITEMS',
       'CRANBERRIES'], dtype=object)

In [ ]:
# What's going on in level_2?
usda_df['level_2'].unique()

# How much of this column is NaN? 
nan_percentage = usda_df['level_2'].isna().sum() / len(usda_df['level_2']) * 100
print(nan_percentage)

# 8.06%.  Do we need these sub-categories on items, though? 
# Guess I'll keep it for now...

array([nan, 'PREPARED', 'FRESH/FROZEN/PREPARED', 'FRESH', 'FROZEN',
       'FRESH/FROZEN', 'FILET MIGNON', 'TENDERLOIN', 'FLANK STEAK',
       'PORTERHOUSE STEAK', 'BNLS RIBEYE STEAK',
       'BNLS NEW YORK STRIP STEAK', 'BNLS RIBEYE ROAST',
       'BONE-IN STRIP STEAK', 'BONE-IN RIBEYE STEAK',
       'BNLS TOP SIRLOIN STEAK', 'SKIRT STEAK', 'BNLS SIRLOIN STEAK',
       'BRISKET, FLAT', 'T-BONE STEAK', 'LOIN, BNLS', 'BEEF SHORT RIBS',
       'TOP ROUND STEAK', 'BNLS TOP SIRLOIN ROAST', 'SIRLOIN STEAK',
       'MINUTE/CUBE STEAKS', 'SIRLOIN TIP STEAK', 'EYE OF ROUND STEAK',
       'STEW MEAT', 'TRI-TIP', 'TOP ROUND ROAST', 'BEEF PATTIES',
       'BOTTOM ROUND ROAST', 'SIRLOIN TIP ROAST', 'LONDON BROIL',
       'EYE OF ROUND ROAST', 'GROUND SIRLOIN', 'GROUND BEEF 90% OR MORE',
       'CHUCK/SHLDR/ARM ROAST', 'BOTTOM ROUND STEAK',
       'CHUCK/SHLDR/ARM STEAK', 'RUMP ROAST', 'GROUND ROUND', 'BRISKET',
       'BEEF BACKRIBS', 'GROUND BEEF 80-89%', 'GROUND CHUCK',
       'GROUND BEEF 70-79%', 'PRE-COOKED BACON', 'CANADIAN BACON',
       'PKG/SLCD HAM, 1 LB/LESS', 'DELI HAM', 'DELI COOKED BACKRIBS',
       'DELI COOKED PORK ROAST', 'SMOKED CHOPS', 'DELI COOKED SPARERIBS',
       'PRE-COOKED SAUSAGE', 'SLICED BACON, 1 LB PKG',
       'TENDERLOIN, MARINATED', 'PULLED PORK', 'HAM, BNLS',
       'BKFST SAUSAGE, LINK/PATTY', 'HAM STEAK', 'DINNER SAUSAGE',
       'CC CHOPS BNLS', 'BKFST SAUSAGE, 1 LB ROLL', 'GROUND PORK',
       'CHORIZO', 'ITALIAN SAUSAGE', 'HAM, B/IN', 'RIB END CHOPS B/IN',
       'TENDERLOIN, FRESH', 'BACKRIBS', 'PORKETTA', 'LOIN ROAST BNLS',
       'RIB CHOPS BNLS', 'ASSORTED CHOPS B/IN', 'CC CHOPS B/IN',
       'COUNTRY STYLE RIBS BNLS', 'COUNTRY STYLE RIB B/IN', 'PORK STEAK',
       'ST. LOUIS STYLE SPARERIBS', 'SIRLOIN CHOPS BNLS', 'SPARERIBS',
       'BONE-IN CC LOIN', 'SIRLOIN ROAST BNLS', 'BUTT ROAST BNLS', 'FEET',
       'NECKBONES', 'BUTT FRESH B/IN', 'SIRLOIN CHOPS B/IN',
       'SIRLOIN END ROAST B/IN', 'PICNIC FRESH B/IN', 'HAM, B/IN SHANK',
       'HAM, B/IN BUTT', 'LB RIB CHOPS', 'VL LEG CUTLETS', 'LB RACK',
       'VL LOIN CHOPS', 'LB LOIN CHOPS', 'VL STEW MEAT', 'VL GROUND VEAL',
       'LB SHLDR RND BONE CHOP', 'VL SHLDR BLADE CHOPS',
       'LB SHLDR BLADE CHOPS', 'LB SHANK', 'LB SEMI-BNLS LEG',
       'VL BREAST', 'LB STEW MEAT-LAMB', 'LB GROUND LAMB', 'VL RIB CHOPS',
       'LB BUTTERFLIED, BNLS LEG', 'LB STEW MEAT-MUTTON',
       'BONE-IN RIBEYE ROAST', 'FLAT IRON STEAK', 'CORNED BEEF FLAT',
       'BNLS SIRLOIN ROAST', 'RIB END ROAST B/IN',
       'VL SHLDR RND BONE CHOPS', 'LB LEG STEAKS', 'LB BONELESS LEG',
       'SIRLOIN ROAST', 'CORNED BEEF BRISKET', 'HAM, SPIRAL',
       'WHOLE BONE-IN LOINS', 'VL BONE-IN OSSO BUCCO', 'LB BONE-IN LEG',
       'RUMP STEAK', 'LB BREAST', 'VL SCALLOPINI', 'LB TOP ROUND STEAK',
       'LB WHOLE LOIN', 'LB LEG, SHANK/BUTT', 'LB SHOULDER ROAST',
       'VL BNLS ROAST', 'ROUND RED', 'RUSSET', 'CHRYSANTHEMUM',
       'INTERSPECIFIC TYPE', 'MIXED MINI SWEET TYPES', 'JALAPENO',
       'SERRANO', 'BARTLETT', 'ORANGE', 'GREEN', 'RED',
       'VARIOUS YELLOW FLESH VARIETIES', 'VARIOUS WHITE FLESH VARIETIES',
       'MARADOL/TAINUNG TYPES', 'VALENCIA', 'NAVEL',
       'YELLOW MARKED SWEET', 'YELLOW', 'WHITE', 'LONG SEEDLESS',
       'HEARTS', 'ROUND GREEN TYPE', 'RED TYPE', 'PINK LADY/CRIPPS PINK',
       'RED DELICIOUS', 'GRANNY SMITH', 'GINGER GOLD', "D'ANJOU", 'BOSC',
       'PORTOBELLA', 'HONEYCRISP', 'PAULA RED', 'MCINTOSH', 'JONATHAN',
       'BRAEBURN', 'GALA', 'FUJI', 'HAYWARD', 'WHITE SEEDLESS TYPE',
       'BLACK SEEDLESS', 'RED SEEDLESS', 'RED GLOBE', 'TURNIP TOPS',
       'SWISS CHARD', 'MUSTARD', 'COLLARD', 'KALE', 'CACTUS PEARS',
       'APPLE PEARS', 'RED VARIETIES', 'BABY PEELED', 'BABY HYBRID TYPE',
       'CROWN CUT', 'VARIOUS GREENSKIN VARIETIES', 'HASS',
       'JUICE MARKED CIDER', 'JUICE', 'VINE RIPE - HEIRLOOM VARIETIES',
       'VINE RIPES, ON THE VINE', 'VINE RIPES',
       'YELLOW CROOKNECK/STRAIGHTNECK', 'SPAGHETTI', 'BUTTERNUT',
       'ZUCCHINI', 'ACORN', 'GREY', 'ROMA', 'BLACKBERRIES', 'GREEN LEAF',
       'RED LEAF', 'BOSTON', 'RED FLESH SEEDLESS MINIATURE',
       'RED FLESH SEEDLESS TYPE', 'RED FLESH SEEDED TYPE',
       'CACTUS LEAF (NOPALES)', 'FLAT, BABY TYPE', 'MIXED TYPES',
       'MARKED EXTRA LARGE', 'MINIATURE', 'YELLOW TYPE', 'ROUND WHITE',
       'SOLO TYPE', 'GOLDEN DELICIOUS', 'RAINIER', 'SATSUMA', 'JONAGOLD',
       'VL T-BONE STEAK', 'LONGIFLORUM (EASTER LILY)',
       'VL SHOULDER ROAST', 'LB TOP ROUND ROAST', 'ROME', 'POINSETTIAS',
       'PIE TYPE', 'MARKED MEDIUM', 'MARKED LARGE', 'MARKED SMALL',
       'VL RIB RACK', 'VL CUBE STEAK', 'LB RIBS', 'VL TOP ROUND STEAK',
       'VL BNLS LEG'], dtype=object)

In [29]:
# What's going on in level_3?
usda_df['level_3'].unique()

# Definitely don't think this is needed
usda_df.drop('level_3', axis=1, inplace=True)

usda_df.head()

,issuing_office,report_date,program,level_1,level_2,level_4,level_5,organic,specialty,unit,...,stores_with_ads,store_outlets,feature_rate,special_rate,activity_index,locally_grown_percentage,weighted_average_price,price_low,price_high,product_quality
0,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NaN,NaN,NO,NO,NaN,...,NaN,5500.0,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
1,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NaN,NaN,NO,NO,NaN,...,NaN,5500.0,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NaN,NaN,NO,NO,NaN,...,NaN,29200.0,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
3,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NaN,NaN,NO,NO,NaN,...,NaN,29200.0,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,ALL SHELL,NaN,NO,NO,NaN,...,NaN,100.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# How about level_4?
usda_df['level_4'].unique()

# Why does this strike me as potentially actually useful?  How much of this column is Nan?

nan_percentage = usda_df['level_4'].isna().sum() / len(usda_df['level_4']) * 100
print(nan_percentage)

# Hmm... 2/3rds empty, huh?  After further consideration, drop. 
usda_df.drop('level_4', axis=1, inplace=True)

usda_df.head()

66.77800947490637

,issuing_office,report_date,program,level_1,level_2,level_5,organic,specialty,unit,region,stores_with_ads,store_outlets,feature_rate,special_rate,activity_index,locally_grown_percentage,weighted_average_price,price_low,price_high,product_quality
0,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NaN,NO,NO,NaN,NORTHEAST U.S.,NaN,5500.0,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
1,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NaN,NO,NO,NaN,NORTHEAST U.S.,NaN,5500.0,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NaN,NO,NO,NaN,NATIONAL,NaN,29200.0,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
3,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NaN,NO,NO,NaN,NATIONAL,NaN,29200.0,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NaN,NO,NO,NaN,ALASKA,NaN,100.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# Okay, level_5?
usda_df['level_5'].unique()

# Drop
usda_df.drop('level_5', axis=1, inplace=True)

usda_df.head()

,issuing_office,report_date,program,level_1,level_2,organic,specialty,unit,region,stores_with_ads,store_outlets,feature_rate,special_rate,activity_index,locally_grown_percentage,weighted_average_price,price_low,price_high,product_quality
0,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NORTHEAST U.S.,NaN,5500.0,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
1,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NORTHEAST U.S.,NaN,5500.0,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NATIONAL,NaN,29200.0,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
3,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NATIONAL,NaN,29200.0,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,ALASKA,NaN,100.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Organic?
usda_df['organic'].unique()

# How much NaN?
nan_percentage = usda_df['organic'].isna().sum() / len(usda_df['organic']) * 100
print(nan_percentage)

# Over half?  I'm going to keep it, at present, because I don't know if my other datasets reference organic vs. non-organic
# products, specifically.  If they do, this could still be useful.

56.39868954924173

In [ ]:
# Speciality?
usda_df['specialty'].unique()

# How much NaN?
nan_percentage = usda_df['specialty'].isna().sum() / len(usda_df['specialty']) * 100
print(nan_percentage)

# Over half, again?  I feel like the Costco dataset might use "specialty" as a marker, as well.  I'll keep for now.

58.29050461583623

In [ ]:
# Unit?
usda_df['unit'].unique()

# Seems useful to align with actual grocery market data (i.e. Costco dataset)

# How much NaN?
nan_percentage = usda_df['unit'].isna().sum() / len(usda_df['unit']) * 100
print(nan_percentage)

# Pretty complete.  Keep for now.

11.75014012388586

In [ ]:
# region seems useful, by default.  How many NaN's exist in it, though? 

# How much NaN?
nan_percentage = usda_df['region'].isna().sum() / len(usda_df['region']) * 100
print(nan_percentage)

# Totally complete?  Keep.

0.0

In [ ]:
# stores_with_ads?
usda_df['stores_with_ads'].unique()

usda_df['stores_with_ads'].nunique()

# So, is this saying *how many* stores run an add for each particular product? 

# How much of this column is NaN?
nan_percentage = usda_df['stores_with_ads'].isna().sum() / len(usda_df['stores_with_ads']) * 100
print(nan_percentage)

# Over half?  I think I'm not going to consider ads in this analysis.  Drop.
usda_df.drop('stores_with_ads', axis=1, inplace=True)

usda_df.head()

56.39868954924173

,issuing_office,report_date,program,level_1,level_2,organic,specialty,unit,region,store_outlets,feature_rate,special_rate,activity_index,locally_grown_percentage,weighted_average_price,price_low,price_high,product_quality
0,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NORTHEAST U.S.,5500.0,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
1,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NORTHEAST U.S.,5500.0,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NATIONAL,29200.0,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
3,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NATIONAL,29200.0,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,ALASKA,100.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# store_outlets?  I assume this is saying how *many* stores a particular product is in?  Could be useful...

# How empty?
nan_percentage = usda_df['store_outlets'].isna().sum() / len(usda_df['store_outlets']) * 100
print(nan_percentage)

# 88%?  Drop
usda_df.drop('store_outlets', axis=1, inplace=True)

usda_df.head()

88.24985987611414

,issuing_office,report_date,program,level_1,level_2,organic,specialty,unit,region,feature_rate,special_rate,activity_index,locally_grown_percentage,weighted_average_price,price_low,price_high,product_quality
0,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NORTHEAST U.S.,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
1,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NORTHEAST U.S.,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NATIONAL,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
3,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NATIONAL,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,ALASKA,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
# feature_rate?
usda_df['feature_rate'].unique()

usda_df['feature_rate'].nunique()

# I think, similar to analyzing ads, I'm not going to consider whether a product is "featured" or not in this analysis, but
# rather am just going to keep it to a pretty baseline-analysis of product prices without these other variables, instead.  Drop.

usda_df.drop('feature_rate', axis=1, inplace=True)

usda_df.head()

,issuing_office,report_date,program,level_1,level_2,organic,specialty,unit,region,special_rate,activity_index,locally_grown_percentage,weighted_average_price,price_low,price_high,product_quality
0,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NORTHEAST U.S.,NaN,65.0,NaN,NaN,NaN,NaN,NaN
1,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NORTHEAST U.S.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NATIONAL,NaN,65.0,NaN,NaN,NaN,NaN,NaN
3,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NATIONAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,ALASKA,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
# Same logic applies to special_rate and activity_index

usda_df.drop('special_rate', axis=1, inplace=True)
usda_df.drop('activity_index', axis=1, inplace=True)

usda_df.head()

,issuing_office,report_date,program,level_1,level_2,organic,specialty,unit,region,locally_grown_percentage,weighted_average_price,price_low,price_high,product_quality
0,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NORTHEAST U.S.,NaN,NaN,NaN,NaN,NaN
1,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NORTHEAST U.S.,NaN,NaN,NaN,NaN,NaN
2,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NATIONAL,NaN,NaN,NaN,NaN,NaN
3,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NATIONAL,NaN,NaN,NaN,NaN,NaN
4,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,ALASKA,NaN,NaN,NaN,NaN,NaN

In [60]:
# I can't see being particularly interested in locally_grown_percentage, but I'm curious how much data is in it...

nan_percentage = usda_df['locally_grown_percentage'].isna().sum() / len(usda_df['locally_grown_percentage']) * 100
print(nan_percentage)

# Useless.  Drop.
usda_df.drop('locally_grown_percentage', axis=1, inplace=True)

usda_df.head()

99.91705691449286

,issuing_office,report_date,program,level_1,level_2,organic,specialty,unit,region,weighted_average_price,price_low,price_high,product_quality
0,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NORTHEAST U.S.,NaN,NaN,NaN,NaN
1,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NORTHEAST U.S.,NaN,NaN,NaN,NaN
2,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NATIONAL,NaN,NaN,NaN,NaN
3,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NATIONAL,NaN,NaN,NaN,NaN
4,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,ALASKA,NaN,NaN,NaN,NaN

In [ ]:
# weighted_average_price seems like it could be useful.  What's going on in it?
nan_percentage = usda_df['weighted_average_price'].isna().sum() / len(usda_df['weighted_average_price']) * 100
print(nan_percentage)

# Guess I'll keep for now.

11.750159351863335

In [62]:
# price_low?
nan_percentage = usda_df['price_low'].isna().sum() / len(usda_df['price_low']) * 100
print(nan_percentage)

33.09371427802309

In [ ]:
# price_high?
nan_percentage = usda_df['price_high'].isna().sum() / len(usda_df['price_high']) * 100
print(nan_percentage)

33.0485093029762

In [68]:
# product_quality?
nan_percentage = usda_df['product_quality'].isna().sum() / len(usda_df['product_quality']) * 100
print(nan_percentage)

usda_df['product_quality'].unique()

# Not a consideration in this analysis.  Drop.
usda_df.drop('product_quality', axis=1, inplace=True)

usda_df.head()

44.2323021689479

,issuing_office,report_date,program,level_1,level_2,organic,specialty,unit,region,weighted_average_price,price_low,price_high
0,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NORTHEAST U.S.,NaN,NaN,NaN
1,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NORTHEAST U.S.,NaN,NaN,NaN
2,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NATIONAL,NaN,NaN,NaN
3,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,NATIONAL,NaN,NaN,NaN
4,"DES MOINES, IA",2024-08-30,POULTRY,EGGS,NaN,NO,NO,NaN,ALASKA,NaN,NaN,NaN

In [ ]:
# Okay, so what am I left with at this point? 

nan_percentage = usda_df.isna().sum() / len(usda_df) * 100
print(nan_percentage)

# I'm actually pretty happy with this table for the moment.  Good deal *thumbs up*

issuing_office             0.000000
report_date                0.000000
program                    0.000000
level_1                    0.097223
level_2                    8.058644
organic                   56.398690
specialty                 58.290505
unit                      11.750140
region                     0.000000
weighted_average_price    11.750159
price_low                 33.093714
price_high                33.048509
dtype: float64